In [34]:
import os
import psycopg2
import tabulate
from dotenv import load_dotenv
import pandas as pd
import chardet
from psycopg2.extras import execute_values

load_dotenv()

dis_db_password = os.getenv("REMOTE_POSTGRES_DIS_PASSWORD")

conn_params = {
    'host': 'vsisdb.informatik.uni-hamburg.de',
    'dbname': 'dis-2025',
    'user': 'vsisp42',
    'password': dis_db_password
}

In [92]:
def show_existing_tables():
    conn = psycopg2.connect(**conn_params)

    with conn:
        with conn.cursor() as cur:
            cur.execute(
                """
                SELECT table_name
                FROM information_schema.tables
                WHERE table_schema = %s
                ORDER BY table_name;
                """,
                (conn_params["user"],),
            )
            tables = cur.fetchall()

            for table in tables:
                print("-", table[0])
show_existing_tables()

- article
- city
- country
- dim_date
- dim_geo
- dim_product
- fact_sales
- productcategory
- productfamily
- productgroup
- region
- shop

In [93]:
with open('resources/sales.csv', 'rb') as f:
    result = chardet.detect(f.read(10000))

print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [94]:
bad_lines = []
with open('resources/sales.csv', encoding='ISO-8859-1') as f:
    for i, line in enumerate(f, start=1):
        if line.count(';') != 4:  # 4 Semikolons = 5 Spalten
            bad_lines.append((i, line.strip()))

for i, l in bad_lines:
    print(f"Fehler in Zeile {i}: {l}")

Fehler in Zeile 35906: 06.04.2019;12.03.2019;Superstore Dresden;AEG Öko Lavatherm 59850 Sensidry;3;2997,00

In [4]:
def load_csv_data():
    return pd.read_csv(
        'resources/sales.csv',
        encoding='ISO-8859-1',
        sep=';',
        decimal=',',
        on_bad_lines='skip'
    )

df = load_csv_data()
print(df.head())

         Date               Shop                           Article  Sold  \
0  01.01.2019  Superstore Berlin  AEG Öko Lavatherm 59850 Sensidry    25
1  01.01.2019  Superstore Berlin     AEG Öko-Lavamat Öko Plus 1400    25
2  01.01.2019  Superstore Berlin              Bauknecht TK Care 6B    13
3  01.01.2019  Superstore Berlin      Bauknecht WA Sensitive 36 DI     2
4  01.01.2019  Superstore Berlin                       BenQ DE350P    31

    Revenue
0  24975.00
1  14975.00
2   3639.74
3    699.80
4   8369.69

In [96]:
def create_star_schema_tables(conn):
    with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS dim_product (
                product_id SERIAL PRIMARY KEY,
                article_id INT,
                article_name VARCHAR(255),
                product_group_id INT,
                product_group_name VARCHAR(255),
                product_family_id INT,
                product_family_name VARCHAR(255),
                product_category_id INT,
                product_category_name VARCHAR(255)
            );
        """)

        cur.execute("""
            CREATE TABLE IF NOT EXISTS dim_geo (
                geo_id SERIAL PRIMARY KEY,
                shop_id INT,
                shop_name VARCHAR(255),
                city_id INT,
                city_name VARCHAR(255),
                region_id INT,
                region_name VARCHAR(255),
                country_id INT,
                country_name VARCHAR(255)
            );
        """)

        cur.execute("""
            CREATE TABLE IF NOT EXISTS dim_date (
                date DATE PRIMARY KEY,
                day INT,
                month INT,
                quarter INT,
                year INT
            );
        """)

        cur.execute("""
            CREATE TABLE IF NOT EXISTS fact_sales (
                sales_id SERIAL PRIMARY KEY,
                date Date,
                geo_id INT,
                product_id INT,
                quantity INT,
                revenue NUMERIC,

                CONSTRAINT fk_date FOREIGN KEY (date) REFERENCES dim_date(date),
                CONSTRAINT fk_geo FOREIGN KEY (geo_id) REFERENCES dim_geo(geo_id),
                CONSTRAINT fk_product FOREIGN KEY (product_id) REFERENCES dim_product(product_id)
            );
        """)

    conn.commit()
    print("Star-Schema-Tabellen erfolgreich erstellt.")

with psycopg2.connect(**conn_params) as conn:
    create_star_schema_tables(conn)

Star-Schema-Tabellen erfolgreich erstellt.

In [97]:
def populate_dim_product(conn):
    with conn.cursor() as cur:
         cur.execute("""
            INSERT INTO dim_product (
                article_id,
                article_name,
                product_group_id,
                product_group_name,
                product_family_id,
                product_family_name,
                product_category_id,
                product_category_name
            )
            SELECT
                a.ArticleID,
                a.Name,
                pg.ProductGroupID,
                pg.Name,
                pf.ProductFamilyID,
                pf.Name,
                pc.ProductCategoryID,
                pc.Name
            FROM Article a
                INNER JOIN ProductGroup pg ON pg.productgroupid = a.productgroupid
                INNER JOIN vsisp42.productfamily pf on pf.productfamilyid = pg.productfamilyid
                INNER JOIN vsisp42.productcategory pc on pc.productcategoryid = pf.productcategoryid

        """)
    conn.commit()
    print("dim_product erfolgreich befüllt.")

with psycopg2.connect(**conn_params) as conn:
    populate_dim_product(conn)

dim_product erfolgreich befüllt.

In [98]:
def populate_dim_geo(conn):
    with conn.cursor() as cur:
        cur.execute("""
            INSERT INTO dim_geo (
                shop_id,
                shop_name,
                city_id,
                city_name,
                region_id,
                region_name,
                country_id,
                country_name
            )
            SELECT
                s.ShopID,
                s.Name,
                c.CityID,
                c.Name,
                r.RegionID,
                r.Name,
                co.CountryID,
                co.Name
            FROM Shop s
                INNER JOIN City c ON s.CityID = c.CityID
                INNER JOIN Region r ON c.RegionID = r.RegionID
                INNER JOIN Country co ON r.CountryID = co.CountryID
        """)
    conn.commit()
    print("dim_geo erfolgreich befüllt.")

with psycopg2.connect(**conn_params) as conn:
    populate_dim_geo(conn)

dim_geo erfolgreich befüllt.

In [7]:
def transform_data(df):
    df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')
    num_invalid_dates = df['Date'].isna().sum()
    print(f'Entries: {len(df)}\t number of invaled dates: {num_invalid_dates}')
    print(df.head())
    # df_sales = df_sales.dropna(subset=['Date'])

df = load_csv_data()
transform_data(df)

Entries: 77311	 number of invaled dates: 0
        Date               Shop                           Article  Sold  \
0 2019-01-01  Superstore Berlin  AEG Öko Lavatherm 59850 Sensidry    25
1 2019-01-01  Superstore Berlin     AEG Öko-Lavamat Öko Plus 1400    25
2 2019-01-01  Superstore Berlin              Bauknecht TK Care 6B    13
3 2019-01-01  Superstore Berlin      Bauknecht WA Sensitive 36 DI     2
4 2019-01-01  Superstore Berlin                       BenQ DE350P    31

    Revenue
0  24975.00
1  14975.00
2   3639.74
3    699.80
4   8369.69

In [100]:
def populate_dim_date(conn, df_sales):

    min_date = df_sales['Date'].min()
    max_date = df_sales['Date'].max()

    print(f"Erzeuge Zeitdimension von {min_date.date()} bis {max_date.date()}")

    date_range = pd.date_range(start=min_date, end=max_date)

    df_time = pd.DataFrame({'date': date_range})
    df_time['day'] = df_time['date'].dt.day
    df_time['month'] = df_time['date'].dt.month
    df_time['quarter'] = df_time['date'].dt.quarter
    df_time['year'] = df_time['date'].dt.year

    with conn.cursor() as cur:
        for _, row in df_time.iterrows():
            cur.execute("""
                INSERT INTO dim_date (date, day, month, quarter, year)
                VALUES (%s, %s, %s, %s, %s)
            """, (row['date'], row['day'], row['month'], row['quarter'], row['year']))

    conn.commit()
    print(f"DimTime befüllt mit {len(df_time)} Tagen.")

with psycopg2.connect(**conn_params) as conn:
    populate_dim_date(conn, df)

Erzeuge Zeitdimension von 2019-01-01 bis 2019-05-31
 DimTime befüllt mit 151 Tagen.

In [10]:
def insert_fact_sales(conn, df_sales, batch_size=10000):
    with conn.cursor() as cur:
        # 1. Lookup-Tabellen in Dictionaries laden
        cur.execute("SELECT date, date FROM dim_date")
        date_lookup = dict(cur.fetchall())

        cur.execute("SELECT shop_name, geo_id FROM dim_geo")
        geo_lookup = dict(cur.fetchall())

        cur.execute("SELECT article_name, product_id FROM dim_product")
        product_lookup = dict(cur.fetchall())

        # 2. Sammle gültige Datensätze
        records_to_insert = []

        for _, row in df_sales.iterrows():
            date_key = pd.to_datetime(row['Date'], dayfirst=True).date()
            date = date_lookup.get(date_key)
            geo_id = geo_lookup.get(row['Shop'])
            product_id = product_lookup.get(row['Article'])

            if not (date and geo_id and product_id):
                print(f'skipped row: {row}')
                print(f'date:{date}, geo_id:{geo_id}, product_id:{product_id}')
                continue

            records_to_insert.append((date, geo_id, product_id, row['Sold'], row['Revenue']))

            # 3. Wenn Batch voll → Insert
            if len(records_to_insert) >= batch_size:
                execute_values(
                    cur,
                    """
                    INSERT INTO fact_sales (date, geo_id, product_id, quantity, revenue)
                    VALUES %s
                    """,
                    records_to_insert
                )
                records_to_insert.clear()  # Liste leeren

        # 4. Letzten Rest einfügen
        if records_to_insert:
            execute_values(
                cur,
                """
                INSERT INTO fact_sales (date, geo_id, product_id, quantity, revenue)
                VALUES %s
                """,
                records_to_insert
            )

    conn.commit()
    print(f"FactSales erfolgreich befülltd.")

with psycopg2.connect(**conn_params) as conn:
    insert_fact_sales(conn, df)

continue
FactSales erfolgreich befüllt mit insgesamt 77311 Zeilen (gültige Einträge: 77311).

# Analysis

In [42]:
def analyse_data(conn):
    with conn.cursor() as cur:
        query = """
        SELECT
            g.region_name AS region,
            d.quarter,
            d.year,
            p.article_name AS product,
            SUM(f.quantity) AS sales
        FROM fact_sales f
            INNER JOIN dim_geo g ON g.geo_id = f.geo_id
            INNER JOIN dim_product p ON p.product_id = f.product_id
            INNER JOIN dim_date d ON d.date = f.date
        GROUP BY g.region_name, d.quarter, d.year, p.article_name
        ORDER BY g.region_name, d.year, d.quarter, p.article_name;
        """

        cur.execute(query)
        rows = cur.fetchall()
        columns = [desc[0] for desc in cur.description]
        df = pd.DataFrame(rows, columns=columns)

    df['sales_time'] = 'quarter ' + df['quarter'].astype(str) + ', ' + df['year'].astype(str)

    pivot = df.pivot_table(
        index=['region', 'sales_time'],
        columns='product',
        values='sales',
        aggfunc='sum',
        fill_value=0
    ).reset_index()

    # Zwischensumme je Region
    region_totals = pivot.groupby('region').sum(numeric_only=True)
    region_totals['sales_time'] = 'total'
    region_totals = region_totals.reset_index()

    # Gesamttotal
    grand_total = pivot.drop(columns=['region', 'sales_time']).sum(numeric_only=True).to_frame().T
    grand_total['region'] = 'total'
    grand_total['sales_time'] = 'total'

    # Zusammenführen
    result = pd.concat([pivot, region_totals, grand_total], ignore_index=True)

    # Sortierung vorbereiten
    def extract_quarter_year(s):
        if s == 'total':
            return 999, 9999
        quarter = int(s.split('quarter ')[1].split(',')[0].strip())
        year = int(s.split(', ')[1])
        return quarter, year

    result[['time_quarter', 'time_year']] = result['sales_time'].apply(
        lambda x: pd.Series(extract_quarter_year(x))
    )

    result['region_order'] = result['region'].apply(lambda x: 'zzz' if x == 'total' else x)

    result = result.sort_values(by=['region_order', 'region', 'time_year', 'time_quarter']).drop(
        columns=['region_order', 'time_quarter', 'time_year']
    )


    # 'total'-Spalte: Summe aller Produkte pro Zeile
    produktspalten = result.columns.difference(['region', 'sales_time'])
    result['total'] = result[produktspalten].sum(axis=1)

    print(tabulate.tabulate(result, headers='keys', tablefmt='grid'))


with psycopg2.connect(**conn_params) as conn:
    analyse_data(conn)

+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|    | region                 | sales_time      |   AEG Öko Lavatherm 59850 Sensidry |   AEG Öko-Lavamat Öko Plus 1400 |   Bauknecht TK Care 6B |   Bauknecht WA Sensitive 36 DI |   BenQ DE350P |   Bosch Rotak 43 LI (Modell 2009) |   Bosch WAE 2834P |   Bosch WTE 84301 |   Brill 28 VE/RL |   Denon DCD-710AE |   Einhell RPM 56 S-MS |   Gardena CS Vertikutier-Boy (3395-20) |   Gardena PowerMax 42 E |   Güde GV 2400 SL |   Jaytec DJT-20 |   Kodak Zx3 Playsport |   LG RH-T 298 |   Miele Softtronic T 7744 C |   Miele Softtronic W 3241 WPS |   Numark TT1650 |   Onkyo DX-7355 |   Panasonic HDC-SD707 |   Pioneer DVR-550HX |   Samsung DVD-SR275 |   Sony CDP-XE370 |   Sony HDR-CX115 |   Sony PS-LX 300 USB |   Technics SL-1210 MK5 |   Toshiba Camileo S20 |   Wolf-Garten 2.34 E |   Wolf-Garten Campus 1000 V |   Yamaha CDX-497 |   total |
+====+========================+=================+====================================+=================================+========================+================================+===============+===================================+===================+===================+==================+===================+=======================+========================================+=========================+===================+=================+=======================+===============+=============================+===============================+=================+=================+=======================+=====================+=====================+==================+==================+======================+========================+=======================+======================+=============================+==================+=========+
|  0 | Baden-Württemberg      | quarter 1, 2019 |                               1996 |                            2456 |                   2257 |                           2170 |          2203 |                              2306 |              2284 |              2213 |             2004 |              2008 |                  1839 |                                   2014 |                    2026 |              2279 |            2440 |                  2069 |          2229 |                        2489 |                          2371 |            2139 |            2055 |                  2207 |                2070 |                2325 |             2211 |             2096 |                 2504 |                   2279 |                  2166 |                 2288 |                        2078 |             2180 |   70251 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  1 | Baden-Württemberg      | quarter 2, 2019 |                               1426 |                            1300 |                   1641 |                           1614 |          1616 |                              1450 |              1523 |              1394 |             1576 |              1442 |                  1477 |                                   1463 |                    1431 |              1248 |            1521 |                  1341 |          1551 |                        1497 |                          1623 |            1529 |            1484 |                  1537 |                1482 |                1557 |             1780 |             1337 |                 1361 |                   1414 |                  1543 |                 1421 |                        1411 |             1603 |   47593 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
| 32 | Baden-Württemberg      | total           |                               3422 |                            3756 |                   3898 |                           3784 |          3819 |                              3756 |              3807 |              3607 |             3580 |              3450 |                  3316 |                                   3477 |                    3457 |              3527 |            3961 |                  3410 |          3780 |                        3986 |                          3994 |            3668 |            3539 |                  3744 |                3552 |                3882 |             3991 |             3433 |                 3865 |                   3693 |                  3709 |                 3709 |                        3489 |             3783 |  117844 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  2 | Bayern                 | quarter 1, 2019 |                               2245 |                            2233 |                   2133 |                           2194 |          2264 |                              2115 |              2340 |              2204 |             2040 |              2231 |                  2165 |                                   2297 |                    2185 |              2278 |            2065 |                  2206 |          2255 |                        2063 |                          2332 |            2298 |            2109 |                  2103 |                1897 |                2185 |             2241 |             2308 |                 2074 |                   2354 |                  2344 |                 2028 |                        2300 |             2291 |   70377 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  3 | Bayern                 | quarter 2, 2019 |                               1313 |                            1645 |                   1535 |                           1332 |          1616 |                              1553 |              1312 |              1390 |             1487 |              1401 |                  1463 |                                   1464 |                    1437 |              1520 |            1435 |                  1626 |          1327 |                        1593 |                          1682 |            1445 |            1641 |                  1556 |                1338 |                1453 |             1636 |             1541 |                 1345 |                   1551 |                  1503 |                 1542 |                        1368 |             1520 |   47570 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
| 33 | Bayern                 | total           |                               3558 |                            3878 |                   3668 |                           3526 |          3880 |                              3668 |              3652 |              3594 |             3527 |              3632 |                  3628 |                                   3761 |                    3622 |              3798 |            3500 |                  3832 |          3582 |                        3656 |                          4014 |            3743 |            3750 |                  3659 |                3235 |                3638 |             3877 |             3849 |                 3419 |                   3905 |                  3847 |                 3570 |                        3668 |             3811 |  117947 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  4 | Berlin                 | quarter 1, 2019 |                               2442 |                            2179 |                   2317 |                           2348 |          2351 |                              2361 |              2121 |              2112 |             2262 |              1982 |                  2138 |                                   2397 |                    1975 |              2098 |            2245 |                  2286 |          2253 |                        2201 |                          2328 |            2118 |            2340 |                  2220 |                2063 |                2222 |             2048 |             2184 |                 2230 |                   2189 |                  2294 |                 2242 |                        2256 |             2168 |   70970 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  5 | Berlin                 | quarter 2, 2019 |                               1573 |                            1456 |                   1518 |                           1443 |          1404 |                              1584 |              1265 |              1502 |             1482 |              1553 |                  1770 |                                   1500 |                    1484 |              1407 |            1335 |                  1563 |          1530 |                        1475 |                          1566 |            1648 |            1631 |                  1260 |                1468 |                1538 |             1552 |             1487 |                 1533 |                   1386 |                  1522 |                 1444 |                        1498 |             1723 |   48100 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
| 34 | Berlin                 | total           |                               4015 |                            3635 |                   3835 |                           3791 |          3755 |                              3945 |              3386 |              3614 |             3744 |              3535 |                  3908 |                                   3897 |                    3459 |              3505 |            3580 |                  3849 |          3783 |                        3676 |                          3894 |            3766 |            3971 |                  3480 |                3531 |                3760 |             3600 |             3671 |                 3763 |                   3575 |                  3816 |                 3686 |                        3754 |             3891 |  119070 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  6 | Brandenburg            | quarter 1, 2019 |                               2282 |                            2313 |                   2253 |                           1975 |          2213 |                              2219 |              2088 |              2333 |             2328 |              2247 |                  2093 |                                   2447 |                    1884 |              2148 |            2181 |                  2223 |          2045 |                        2278 |                          2037 |            2123 |            2001 |                  2277 |                2136 |                2299 |             2328 |             2107 |                 2282 |                   2312 |                  2168 |                 2345 |                        2141 |             2354 |   70460 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+