In [1]:
import os
import psycopg2
import tabulate
from dotenv import load_dotenv
import pandas as pd
import chardet
from psycopg2.extras import execute_values

load_dotenv()

dis_db_password = os.getenv("REMOTE_POSTGRES_DIS_PASSWORD")

conn_params = {
    'host': 'vsisdb.informatik.uni-hamburg.de',
    'dbname': 'dis-2025',
    'user': 'vsisp42',
    'password': dis_db_password
}

In [ ]:
def show_existing_tables():
    conn = psycopg2.connect(**conn_params)

    with conn:
        with conn.cursor() as cur:
            cur.execute(
                """
                SELECT table_name
                FROM information_schema.tables
                WHERE table_schema = %s
                ORDER BY table_name;
                """,
                (conn_params["user"],),
            )
            tables = cur.fetchall()

            for table in tables:
                print("-", table[0])
show_existing_tables()

In [2]:
with open('resources/sales.csv', 'rb') as f:
    result = chardet.detect(f.read(10000))

print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [3]:
bad_lines = []
with open('resources/sales.csv', encoding='ISO-8859-1') as f:
    for i, line in enumerate(f, start=1):
        if line.count(';') != 4:  # 4 Semikolons = 5 Spalten
            bad_lines.append((i, line.strip()))

for i, l in bad_lines:
    print(f"Fehler in Zeile {i}: {l}")

Fehler in Zeile 35906: 06.04.2019;12.03.2019;Superstore Dresden;AEG Öko Lavatherm 59850 Sensidry;3;2997,00

In [4]:
def load_csv_data():
    return pd.read_csv(
        'resources/sales.csv',
        encoding='ISO-8859-1',
        sep=';',
        decimal=',',
        on_bad_lines='skip'
    )

df = load_csv_data()
print(df.head())

         Date               Shop                           Article  Sold  \
0  01.01.2019  Superstore Berlin  AEG Öko Lavatherm 59850 Sensidry    25
1  01.01.2019  Superstore Berlin     AEG Öko-Lavamat Öko Plus 1400    25
2  01.01.2019  Superstore Berlin              Bauknecht TK Care 6B    13
3  01.01.2019  Superstore Berlin      Bauknecht WA Sensitive 36 DI     2
4  01.01.2019  Superstore Berlin                       BenQ DE350P    31

    Revenue
0  24975.00
1  14975.00
2   3639.74
3    699.80
4   8369.69

In [7]:
def create_star_schema_tables(conn):
    with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS dim_product (
                product_id SERIAL PRIMARY KEY,
                article_id INT UNIQUE,
                article_name VARCHAR(255) UNIQUE,
                product_group_id INT,
                product_group_name VARCHAR(255),
                product_family_id INT,
                product_family_name VARCHAR(255),
                product_category_id INT,
                product_category_name VARCHAR(255)
            );
        """)

        cur.execute("""
            CREATE TABLE IF NOT EXISTS dim_geo (
                geo_id SERIAL PRIMARY KEY,
                shop_id INT UNIQUE,
                shop_name VARCHAR(255) UNIQUE,
                city_id INT,
                city_name VARCHAR(255),
                region_id INT,
                region_name VARCHAR(255),
                country_id INT,
                country_name VARCHAR(255)
            );
        """)

        cur.execute("""
            CREATE TABLE IF NOT EXISTS dim_date (
                date DATE PRIMARY KEY,
                day INT,
                month INT,
                quarter INT,
                year INT
            );
        """)

        cur.execute("""
            CREATE TABLE IF NOT EXISTS fact_sales (
                sales_id SERIAL PRIMARY KEY,
                date Date,
                geo_id INT,
                product_id INT,
                quantity INT,
                revenue NUMERIC,

                CONSTRAINT fk_date FOREIGN KEY (date) REFERENCES dim_date(date),
                CONSTRAINT fk_geo FOREIGN KEY (geo_id) REFERENCES dim_geo(geo_id),
                CONSTRAINT fk_product FOREIGN KEY (product_id) REFERENCES dim_product(product_id)
            );
        """)

    conn.commit()
    print("Star-Schema-Tabellen erfolgreich erstellt.")

with psycopg2.connect(**conn_params) as conn:
    create_star_schema_tables(conn)

Star-Schema-Tabellen erfolgreich erstellt.

In [10]:
def populate_dim_product(conn):
    with conn.cursor() as cur:
         cur.execute("""
            INSERT INTO dim_product (
                article_id,
                article_name,
                product_group_id,
                product_group_name,
                product_family_id,
                product_family_name,
                product_category_id,
                product_category_name
            )
            SELECT
                a.ArticleID,
                a.Name,
                pg.ProductGroupID,
                pg.Name,
                pf.ProductFamilyID,
                pf.Name,
                pc.ProductCategoryID,
                pc.Name
            FROM Article a
                INNER JOIN ProductGroup pg ON pg.productgroupid = a.productgroupid
                INNER JOIN vsisp42.productfamily pf on pf.productfamilyid = pg.productfamilyid
                INNER JOIN vsisp42.productcategory pc on pc.productcategoryid = pf.productcategoryid

        """)
    conn.commit()
    print("dim_product erfolgreich befüllt.")

with psycopg2.connect(**conn_params) as conn:
    populate_dim_product(conn)

dim_product erfolgreich befüllt.

In [11]:
def populate_dim_geo(conn):
    with conn.cursor() as cur:
        cur.execute("""
            INSERT INTO dim_geo (
                shop_id,
                shop_name,
                city_id,
                city_name,
                region_id,
                region_name,
                country_id,
                country_name
            )
            SELECT
                s.ShopID,
                s.Name,
                c.CityID,
                c.Name,
                r.RegionID,
                r.Name,
                co.CountryID,
                co.Name
            FROM Shop s
                INNER JOIN City c ON s.CityID = c.CityID
                INNER JOIN Region r ON c.RegionID = r.RegionID
                INNER JOIN Country co ON r.CountryID = co.CountryID
        """)
    conn.commit()
    print("dim_geo erfolgreich befüllt.")

with psycopg2.connect(**conn_params) as conn:
    populate_dim_geo(conn)

dim_geo erfolgreich befüllt.

In [12]:
def transform_data(df):
    df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y', errors='coerce')
    num_invalid_dates = df['Date'].isna().sum()
    print(f'Entries: {len(df)}\t number of invaled dates: {num_invalid_dates}')
    print(df.head())
    # df_sales = df_sales.dropna(subset=['Date'])

df = load_csv_data()
transform_data(df)

Entries: 77311	 number of invaled dates: 0
        Date               Shop                           Article  Sold  \
0 2019-01-01  Superstore Berlin  AEG Öko Lavatherm 59850 Sensidry    25
1 2019-01-01  Superstore Berlin     AEG Öko-Lavamat Öko Plus 1400    25
2 2019-01-01  Superstore Berlin              Bauknecht TK Care 6B    13
3 2019-01-01  Superstore Berlin      Bauknecht WA Sensitive 36 DI     2
4 2019-01-01  Superstore Berlin                       BenQ DE350P    31

    Revenue
0  24975.00
1  14975.00
2   3639.74
3    699.80
4   8369.69

In [13]:
def populate_dim_date(conn, df_sales):

    min_date = df_sales['Date'].min()
    max_date = df_sales['Date'].max()

    print(f"Erzeuge Zeitdimension von {min_date.date()} bis {max_date.date()}")

    date_range = pd.date_range(start=min_date, end=max_date)

    df_time = pd.DataFrame({'date': date_range})
    df_time['day'] = df_time['date'].dt.day
    df_time['month'] = df_time['date'].dt.month
    df_time['quarter'] = df_time['date'].dt.quarter
    df_time['year'] = df_time['date'].dt.year

    with conn.cursor() as cur:
        for _, row in df_time.iterrows():
            cur.execute("""
                INSERT INTO dim_date (date, day, month, quarter, year)
                VALUES (%s, %s, %s, %s, %s)
            """, (row['date'], row['day'], row['month'], row['quarter'], row['year']))

    conn.commit()
    print(f"DimTime befüllt mit {len(df_time)} Tagen.")

with psycopg2.connect(**conn_params) as conn:
    populate_dim_date(conn, df)

Erzeuge Zeitdimension von 2019-01-01 bis 2019-05-31
DimTime befüllt mit 151 Tagen.

In [17]:
def insert_fact_sales(conn, df_sales, batch_size=10000):
    with conn.cursor() as cur:
        # Lookup-Tabellen laden
        cur.execute("SELECT date, date FROM dim_date")
        date_lookup = dict(cur.fetchall())

        cur.execute("SELECT shop_name, geo_id FROM dim_geo")
        geo_lookup = dict(cur.fetchall())

        cur.execute("SELECT article_name, product_id FROM dim_product")
        product_lookup = dict(cur.fetchall())

        # Daten vorbereiten
        df_sales['Date'] = pd.to_datetime(df_sales['Date'], dayfirst=True).dt.date
        df_sales['geo_id'] = df_sales['Shop'].map(geo_lookup)
        df_sales['product_id'] = df_sales['Article'].map(product_lookup)
        df_sales['date_key'] = df_sales['Date'].map(date_lookup)

        # Ungültige Zeilen filtern
        valid_mask = df_sales[['date_key', 'geo_id', 'product_id']].notnull().all(axis=1)
        invalid_rows = df_sales[~valid_mask]
        for row in invalid_rows.itertuples():
            print(f'skipped row: {row}')

        df_valid = df_sales[valid_mask]

        # Datensätze in Batches einfügen
        rows = list(
            zip(
                df_valid['date_key'],
                df_valid['geo_id'],
                df_valid['product_id'],
                df_valid['Sold'],
                df_valid['Revenue']
            )
        )

        for i in range(0, len(rows), batch_size):
            batch = rows[i:i + batch_size]
            execute_values(
                cur,
                """
                INSERT INTO fact_sales (date, geo_id, product_id, quantity, revenue)
                VALUES %s
                """,
                batch
            )
            print(f'Inserted rows {i} - {i + batch_size}.')

    conn.commit()
    print(f"{len(rows)} Datensätze erfolgreich in fact_sales eingefügt.")

with psycopg2.connect(**conn_params) as conn:
    insert_fact_sales(conn, df)

skipped row: Pandas(Index=35899, Date=datetime.date(2019, 3, 12), Shop='furt', Article='Kodak Zx3 Playsport', Sold=31, Revenue=4029.69, geo_id=nan, product_id=7, date_key=datetime.date(2019, 3, 12))
Inserted rows 0 - 10000.
Inserted rows 10000 - 20000.
Inserted rows 20000 - 30000.
Inserted rows 30000 - 40000.
Inserted rows 40000 - 50000.
Inserted rows 50000 - 60000.
Inserted rows 60000 - 70000.
Inserted rows 70000 - 80000.
77310 Datensätze erfolgreich in fact_sales eingefügt.

# Analysis

In [19]:
def analyse_data(conn):
    with conn.cursor() as cur:
        query = """
        SELECT
            g.region_name AS region,
            d.quarter,
            d.year,
            p.article_name AS product,
            SUM(f.quantity) AS sales
        FROM fact_sales f
            INNER JOIN dim_geo g ON g.geo_id = f.geo_id
            INNER JOIN dim_product p ON p.product_id = f.product_id
            INNER JOIN dim_date d ON d.date = f.date
        GROUP BY g.region_name, d.quarter, d.year, p.article_name
        ORDER BY g.region_name, d.year, d.quarter, p.article_name;
        """

        cur.execute(query)
        rows = cur.fetchall()
        columns = [desc[0] for desc in cur.description]
        df = pd.DataFrame(rows, columns=columns)

    df['sales_time'] = 'quarter ' + df['quarter'].astype(str) + ', ' + df['year'].astype(str)

    pivot = df.pivot_table(
        index=['region', 'sales_time'],
        columns='product',
        values='sales',
        aggfunc='sum',
        fill_value=0
    ).reset_index()

    # Zwischensumme je Region
    region_totals = pivot.groupby('region').sum(numeric_only=True)
    region_totals['sales_time'] = 'total'
    region_totals = region_totals.reset_index()

    # Gesamttotal
    grand_total = pivot.drop(columns=['region', 'sales_time']).sum(numeric_only=True).to_frame().T
    grand_total['region'] = 'total'
    grand_total['sales_time'] = 'total'

    # Zusammenführen
    result = pd.concat([pivot, region_totals, grand_total], ignore_index=True)

    # Sortierung vorbereiten
    def extract_quarter_year(s):
        if s == 'total':
            return 999, 9999
        quarter = int(s.split('quarter ')[1].split(',')[0].strip())
        year = int(s.split(', ')[1])
        return quarter, year

    result[['time_quarter', 'time_year']] = result['sales_time'].apply(
        lambda x: pd.Series(extract_quarter_year(x))
    )

    result['region_order'] = result['region'].apply(lambda x: 'zzz' if x == 'total' else x)

    result = result.sort_values(by=['region_order', 'region', 'time_year', 'time_quarter']).drop(
        columns=['region_order', 'time_quarter', 'time_year']
    )


    # 'total'-Spalte: Summe aller Produkte pro Zeile
    produktspalten = result.columns.difference(['region', 'sales_time'])
    result['total'] = result[produktspalten].sum(axis=1)

    print(tabulate.tabulate(result, headers='keys', tablefmt='grid'))


with psycopg2.connect(**conn_params) as conn:
    analyse_data(conn)

+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|    | region                 | sales_time      |   AEG Öko Lavatherm 59850 Sensidry |   AEG Öko-Lavamat Öko Plus 1400 |   Bauknecht TK Care 6B |   Bauknecht WA Sensitive 36 DI |   BenQ DE350P |   Bosch Rotak 43 LI (Modell 2009) |   Bosch WAE 2834P |   Bosch WTE 84301 |   Brill 28 VE/RL |   Denon DCD-710AE |   Einhell RPM 56 S-MS |   Gardena CS Vertikutier-Boy (3395-20) |   Gardena PowerMax 42 E |   Güde GV 2400 SL |   Jaytec DJT-20 |   Kodak Zx3 Playsport |   LG RH-T 298 |   Miele Softtronic T 7744 C |   Miele Softtronic W 3241 WPS |   Numark TT1650 |   Onkyo DX-7355 |   Panasonic HDC-SD707 |   Pioneer DVR-550HX |   Samsung DVD-SR275 |   Sony CDP-XE370 |   Sony HDR-CX115 |   Sony PS-LX 300 USB |   Technics SL-1210 MK5 |   Toshiba Camileo S20 |   Wolf-Garten 2.34 E |   Wolf-Garten Campus 1000 V |   Yamaha CDX-497 |   total |
+====+========================+=================+====================================+=================================+========================+================================+===============+===================================+===================+===================+==================+===================+=======================+========================================+=========================+===================+=================+=======================+===============+=============================+===============================+=================+=================+=======================+=====================+=====================+==================+==================+======================+========================+=======================+======================+=============================+==================+=========+
|  0 | Baden-Württemberg      | quarter 1, 2019 |                               1996 |                            2456 |                   2257 |                           2170 |          2203 |                              2306 |              2284 |              2213 |             2004 |              2008 |                  1839 |                                   2014 |                    2026 |              2279 |            2440 |                  2069 |          2229 |                        2489 |                          2371 |            2139 |            2055 |                  2207 |                2070 |                2325 |             2211 |             2096 |                 2504 |                   2279 |                  2166 |                 2288 |                        2078 |             2180 |   70251 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  1 | Baden-Württemberg      | quarter 2, 2019 |                               1426 |                            1300 |                   1641 |                           1614 |          1616 |                              1450 |              1523 |              1394 |             1576 |              1442 |                  1477 |                                   1463 |                    1431 |              1248 |            1521 |                  1341 |          1551 |                        1497 |                          1623 |            1529 |            1484 |                  1537 |                1482 |                1557 |             1780 |             1337 |                 1361 |                   1414 |                  1543 |                 1421 |                        1411 |             1603 |   47593 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
| 32 | Baden-Württemberg      | total           |                               3422 |                            3756 |                   3898 |                           3784 |          3819 |                              3756 |              3807 |              3607 |             3580 |              3450 |                  3316 |                                   3477 |                    3457 |              3527 |            3961 |                  3410 |          3780 |                        3986 |                          3994 |            3668 |            3539 |                  3744 |                3552 |                3882 |             3991 |             3433 |                 3865 |                   3693 |                  3709 |                 3709 |                        3489 |             3783 |  117844 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  2 | Bayern                 | quarter 1, 2019 |                               2245 |                            2233 |                   2133 |                           2194 |          2264 |                              2115 |              2340 |              2204 |             2040 |              2231 |                  2165 |                                   2297 |                    2185 |              2278 |            2065 |                  2206 |          2255 |                        2063 |                          2332 |            2298 |            2109 |                  2103 |                1897 |                2185 |             2241 |             2308 |                 2074 |                   2354 |                  2344 |                 2028 |                        2300 |             2291 |   70377 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  3 | Bayern                 | quarter 2, 2019 |                               1313 |                            1645 |                   1535 |                           1332 |          1616 |                              1553 |              1312 |              1390 |             1487 |              1401 |                  1463 |                                   1464 |                    1437 |              1520 |            1435 |                  1626 |          1327 |                        1593 |                          1682 |            1445 |            1641 |                  1556 |                1338 |                1453 |             1636 |             1541 |                 1345 |                   1551 |                  1503 |                 1542 |                        1368 |             1520 |   47570 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
| 33 | Bayern                 | total           |                               3558 |                            3878 |                   3668 |                           3526 |          3880 |                              3668 |              3652 |              3594 |             3527 |              3632 |                  3628 |                                   3761 |                    3622 |              3798 |            3500 |                  3832 |          3582 |                        3656 |                          4014 |            3743 |            3750 |                  3659 |                3235 |                3638 |             3877 |             3849 |                 3419 |                   3905 |                  3847 |                 3570 |                        3668 |             3811 |  117947 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  4 | Berlin                 | quarter 1, 2019 |                               2442 |                            2179 |                   2317 |                           2348 |          2351 |                              2361 |              2121 |              2112 |             2262 |              1982 |                  2138 |                                   2397 |                    1975 |              2098 |            2245 |                  2286 |          2253 |                        2201 |                          2328 |            2118 |            2340 |                  2220 |                2063 |                2222 |             2048 |             2184 |                 2230 |                   2189 |                  2294 |                 2242 |                        2256 |             2168 |   70970 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  5 | Berlin                 | quarter 2, 2019 |                               1573 |                            1456 |                   1518 |                           1443 |          1404 |                              1584 |              1265 |              1502 |             1482 |              1553 |                  1770 |                                   1500 |                    1484 |              1407 |            1335 |                  1563 |          1530 |                        1475 |                          1566 |            1648 |            1631 |                  1260 |                1468 |                1538 |             1552 |             1487 |                 1533 |                   1386 |                  1522 |                 1444 |                        1498 |             1723 |   48100 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
| 34 | Berlin                 | total           |                               4015 |                            3635 |                   3835 |                           3791 |          3755 |                              3945 |              3386 |              3614 |             3744 |              3535 |                  3908 |                                   3897 |                    3459 |              3505 |            3580 |                  3849 |          3783 |                        3676 |                          3894 |            3766 |            3971 |                  3480 |                3531 |                3760 |             3600 |             3671 |                 3763 |                   3575 |                  3816 |                 3686 |                        3754 |             3891 |  119070 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+
|  6 | Brandenburg            | quarter 1, 2019 |                               2282 |                            2313 |                   2253 |                           1975 |          2213 |                              2219 |              2088 |              2333 |             2328 |              2247 |                  2093 |                                   2447 |                    1884 |              2148 |            2181 |                  2223 |          2045 |                        2278 |                          2037 |            2123 |            2001 |                  2277 |                2136 |                2299 |             2328 |             2107 |                 2282 |                   2312 |                  2168 |                 2345 |                        2141 |             2354 |   70460 |
+----+------------------------+-----------------+------------------------------------+---------------------------------+------------------------+--------------------------------+---------------+-----------------------------------+-------------------+-------------------+------------------+-------------------+-----------------------+----------------------------------------+-------------------------+-------------------+-----------------+-----------------------+---------------+-----------------------------+-------------------------------+-----------------+-----------------+-----------------------+---------------------+---------------------+------------------+------------------+----------------------+------------------------+-----------------------+----------------------+-----------------------------+------------------+---------+

In [20]:
def analyse_data_cube(conn, geo, time, product):
    # Mapping der Granularitätsstufen zu Spaltennamen
    geo_levels = {
        'country': 'country_name',
        'region': 'region_name',
        'city': 'city_name',
        'shop': 'shop_name'
    }

    time_levels = {
        'year': 'year',
        'quarter': 'quarter',
        'month': 'month',
        'day': 'day',
        'date': 'date'
    }

    product_levels = {
        'productCategory': 'product_category_name',
        'productFamily': 'product_family_name',
        'productGroup': 'product_group_name',
        'article': 'article_name'
    }

    geo_col = geo_levels[geo]
    time_col = time_levels[time]
    prod_col = product_levels[product]

    # SELECT + ROLLUP über die gewählten Dimensionen
    query = f"""
        SELECT
            g.{geo_col} AS geo,
            d.{time_col} AS time,
            p.{prod_col} AS product,
            SUM(f.quantity) AS quantity,
            SUM(f.revenue) AS revenue,
            GROUPING(g.{geo_col}) AS grp_geo,
            GROUPING(d.{time_col}) AS grp_time,
            GROUPING(p.{prod_col}) AS grp_product
        FROM fact_sales f
        JOIN dim_geo g ON f.geo_id = g.geo_id
        JOIN dim_date d ON f.date = d.date
        JOIN dim_product p ON f.product_id = p.product_id
        GROUP BY ROLLUP(g.{geo_col}, d.{time_col}, p.{prod_col})
        ORDER BY
            GROUPING(g.{geo_col}),
            g.{geo_col},
            GROUPING(d.{time_col}),
            d.{time_col},
            GROUPING(p.{prod_col}),
            p.{prod_col};
    """

    with conn.cursor() as cur:
        cur.execute(query)
        rows = cur.fetchall()
        columns = [desc[0] for desc in cur.description]
        df = pd.DataFrame(rows, columns=columns)

    # NULLs durch "ALL"-Label ersetzen
    df['geo'] = df.apply(lambda row: 'ALL' if row['grp_geo'] == 1 else row['geo'], axis=1)
    df['time'] = df.apply(lambda row: 'ALL' if row['grp_time'] == 1 else row['time'], axis=1)
    df['product'] = df.apply(lambda row: 'ALL' if row['grp_product'] == 1 else row['product'], axis=1)

    df = df.drop(columns=['grp_geo', 'grp_time', 'grp_product'])

    print(tabulate.tabulate(df, headers='keys', tablefmt='grid'))

with psycopg2.connect(**conn_params) as conn:
    analyse_data_cube(conn, geo='region', time='quarter', product='productFamily')

+-----+------------------------+--------+-----------------+------------+-------------+
|     | geo                    | time   | product         |   quantity |     revenue |
+=====+========================+========+=================+============+=============+
|   0 | Baden-Württemberg      | 1.0    | Audio           |      17816 | 4.11206e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   1 | Baden-Württemberg      | 1.0    | Gartengeräte    |      16834 | 3.35121e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   2 | Baden-Württemberg      | 1.0    | Haushaltsgeräte |      18236 | 1.07508e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   3 | Baden-Württemberg      | 1.0    | Video           |      17365 | 5.71076e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   4 | Baden-Württemberg      | 1.0    | ALL             |      70251 | 2.39248e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   5 | Baden-Württemberg      | 2.0    | Audio           |      12134 | 2.7747e+06  |
+-----+------------------------+--------+-----------------+------------+-------------+
|   6 | Baden-Württemberg      | 2.0    | Gartengeräte    |      11477 | 2.24922e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   7 | Baden-Württemberg      | 2.0    | Haushaltsgeräte |      12018 | 7.033e+06   |
+-----+------------------------+--------+-----------------+------------+-------------+
|   8 | Baden-Württemberg      | 2.0    | Video           |      11964 | 3.95416e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|   9 | Baden-Württemberg      | 2.0    | ALL             |      47593 | 1.60111e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  10 | Baden-Württemberg      | ALL    | ALL             |     117844 | 3.99359e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  11 | Bayern                 | 1.0    | Audio           |      17663 | 4.20833e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  12 | Bayern                 | 1.0    | Gartengeräte    |      17408 | 3.40469e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  13 | Bayern                 | 1.0    | Haushaltsgeräte |      17744 | 1.05132e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  14 | Bayern                 | 1.0    | Video           |      17562 | 5.68446e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  15 | Bayern                 | 1.0    | ALL             |      70377 | 2.38107e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  16 | Bayern                 | 2.0    | Audio           |      11974 | 2.80095e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  17 | Bayern                 | 2.0    | Gartengeräte    |      11834 | 2.35689e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  18 | Bayern                 | 2.0    | Haushaltsgeräte |      11802 | 7.01043e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  19 | Bayern                 | 2.0    | Video           |      11960 | 3.91559e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  20 | Bayern                 | 2.0    | ALL             |      47570 | 1.60839e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  21 | Bayern                 | ALL    | ALL             |     117947 | 3.98946e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  22 | Berlin                 | 1.0    | Audio           |      17320 | 4.00413e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  23 | Berlin                 | 1.0    | Gartengeräte    |      17729 | 3.4717e+06  |
+-----+------------------------+--------+-----------------+------------+-------------+
|  24 | Berlin                 | 1.0    | Haushaltsgeräte |      18048 | 1.07327e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  25 | Berlin                 | 1.0    | Video           |      17873 | 5.83529e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  26 | Berlin                 | 1.0    | ALL             |      70970 | 2.40438e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  27 | Berlin                 | 2.0    | Audio           |      12361 | 2.84088e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  28 | Berlin                 | 2.0    | Gartengeräte    |      12169 | 2.4408e+06  |
+-----+------------------------+--------+-----------------+------------+-------------+
|  29 | Berlin                 | 2.0    | Haushaltsgeräte |      11798 | 7.03669e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  30 | Berlin                 | 2.0    | Video           |      11772 | 3.75077e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  31 | Berlin                 | 2.0    | ALL             |      48100 | 1.60691e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  32 | Berlin                 | ALL    | ALL             |     119070 | 4.01129e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  33 | Brandenburg            | 1.0    | Audio           |      17828 | 4.2144e+06  |
+-----+------------------------+--------+-----------------+------------+-------------+
|  34 | Brandenburg            | 1.0    | Gartengeräte    |      17605 | 3.41247e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  35 | Brandenburg            | 1.0    | Haushaltsgeräte |      17559 | 1.04123e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  36 | Brandenburg            | 1.0    | Video           |      17468 | 5.74617e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  37 | Brandenburg            | 1.0    | ALL             |      70460 | 2.37853e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  38 | Brandenburg            | 2.0    | Audio           |      11670 | 2.77257e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  39 | Brandenburg            | 2.0    | Gartengeräte    |      11614 | 2.31907e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  40 | Brandenburg            | 2.0    | Haushaltsgeräte |      12053 | 6.96639e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  41 | Brandenburg            | 2.0    | Video           |      11403 | 3.67561e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  42 | Brandenburg            | 2.0    | ALL             |      46740 | 1.57336e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  43 | Brandenburg            | ALL    | ALL             |     117200 | 3.9519e+07  |
+-----+------------------------+--------+-----------------+------------+-------------+
|  44 | Bremen                 | 1.0    | Audio           |      17394 | 3.88435e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  45 | Bremen                 | 1.0    | Gartengeräte    |      17399 | 3.44244e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  46 | Bremen                 | 1.0    | Haushaltsgeräte |      17546 | 1.02679e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  47 | Bremen                 | 1.0    | Video           |      18058 | 6.0448e+06  |
+-----+------------------------+--------+-----------------+------------+-------------+
|  48 | Bremen                 | 1.0    | ALL             |      70397 | 2.36395e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  49 | Bremen                 | 2.0    | Audio           |      11896 | 2.71425e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  50 | Bremen                 | 2.0    | Gartengeräte    |      11392 | 2.20692e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  51 | Bremen                 | 2.0    | Haushaltsgeräte |      11960 | 7.09229e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  52 | Bremen                 | 2.0    | Video           |      11374 | 3.68375e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  53 | Bremen                 | 2.0    | ALL             |      46622 | 1.56972e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  54 | Bremen                 | ALL    | ALL             |     117019 | 3.93367e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  55 | Hamburg                | 1.0    | Audio           |      17205 | 4.07171e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  56 | Hamburg                | 1.0    | Gartengeräte    |      17477 | 3.44961e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  57 | Hamburg                | 1.0    | Haushaltsgeräte |      17450 | 1.01809e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  58 | Hamburg                | 1.0    | Video           |      17803 | 6.02318e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  59 | Hamburg                | 1.0    | ALL             |      69935 | 2.37254e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  60 | Hamburg                | 2.0    | Audio           |      11620 | 2.70727e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  61 | Hamburg                | 2.0    | Gartengeräte    |      11882 | 2.30483e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  62 | Hamburg                | 2.0    | Haushaltsgeräte |      12076 | 7.08084e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  63 | Hamburg                | 2.0    | Video           |      12257 | 4.07638e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  64 | Hamburg                | 2.0    | ALL             |      47835 | 1.61693e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  65 | Hamburg                | ALL    | ALL             |     117770 | 3.98948e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  66 | Hessen                 | 1.0    | Audio           |      17569 | 4.20404e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  67 | Hessen                 | 1.0    | Gartengeräte    |      16925 | 3.39796e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  68 | Hessen                 | 1.0    | Haushaltsgeräte |      17706 | 1.04217e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  69 | Hessen                 | 1.0    | Video           |      17442 | 5.86942e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  70 | Hessen                 | 1.0    | ALL             |      69642 | 2.38931e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  71 | Hessen                 | 2.0    | Audio           |      11984 | 2.77116e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  72 | Hessen                 | 2.0    | Gartengeräte    |      11884 | 2.36647e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  73 | Hessen                 | 2.0    | Haushaltsgeräte |      12074 | 6.92573e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  74 | Hessen                 | 2.0    | Video           |      11871 | 3.84607e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  75 | Hessen                 | 2.0    | ALL             |      47813 | 1.59094e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  76 | Hessen                 | ALL    | ALL             |     117455 | 3.98025e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  77 | Mecklenburg-Vorpommern | 1.0    | Audio           |      17641 | 4.19372e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  78 | Mecklenburg-Vorpommern | 1.0    | Gartengeräte    |      17991 | 3.51361e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  79 | Mecklenburg-Vorpommern | 1.0    | Haushaltsgeräte |      17072 | 1.01019e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  80 | Mecklenburg-Vorpommern | 1.0    | Video           |      17204 | 5.71455e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  81 | Mecklenburg-Vorpommern | 1.0    | ALL             |      69908 | 2.35238e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  82 | Mecklenburg-Vorpommern | 2.0    | Audio           |      11731 | 2.67854e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  83 | Mecklenburg-Vorpommern | 2.0    | Gartengeräte    |      12193 | 2.44164e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  84 | Mecklenburg-Vorpommern | 2.0    | Haushaltsgeräte |      11983 | 7.11213e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  85 | Mecklenburg-Vorpommern | 2.0    | Video           |      11597 | 3.84232e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  86 | Mecklenburg-Vorpommern | 2.0    | ALL             |      47504 | 1.60746e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  87 | Mecklenburg-Vorpommern | ALL    | ALL             |     117412 | 3.95984e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  88 | Niedersachsen          | 1.0    | Audio           |      17869 | 4.12969e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  89 | Niedersachsen          | 1.0    | Gartengeräte    |      17211 | 3.43151e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  90 | Niedersachsen          | 1.0    | Haushaltsgeräte |      17681 | 1.05322e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  91 | Niedersachsen          | 1.0    | Video           |      18250 | 6.08845e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  92 | Niedersachsen          | 1.0    | ALL             |      71011 | 2.41818e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  93 | Niedersachsen          | 2.0    | Audio           |      11927 | 2.87174e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  94 | Niedersachsen          | 2.0    | Gartengeräte    |      12492 | 2.44939e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  95 | Niedersachsen          | 2.0    | Haushaltsgeräte |      11682 | 6.80717e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  96 | Niedersachsen          | 2.0    | Video           |      12260 | 4.02576e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  97 | Niedersachsen          | 2.0    | ALL             |      48361 | 1.61541e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  98 | Niedersachsen          | ALL    | ALL             |     119372 | 4.03359e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
|  99 | Nordrhein-Westfalen    | 1.0    | Audio           |      17731 | 4.06311e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 100 | Nordrhein-Westfalen    | 1.0    | Gartengeräte    |      17824 | 3.53582e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 101 | Nordrhein-Westfalen    | 1.0    | Haushaltsgeräte |      17857 | 1.0641e+07  |
+-----+------------------------+--------+-----------------+------------+-------------+
| 102 | Nordrhein-Westfalen    | 1.0    | Video           |      17608 | 5.80615e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 103 | Nordrhein-Westfalen    | 1.0    | ALL             |      71020 | 2.40461e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 104 | Nordrhein-Westfalen    | 2.0    | Audio           |      12021 | 2.76574e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 105 | Nordrhein-Westfalen    | 2.0    | Gartengeräte    |      11150 | 2.23966e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 106 | Nordrhein-Westfalen    | 2.0    | Haushaltsgeräte |      11910 | 7.11751e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 107 | Nordrhein-Westfalen    | 2.0    | Video           |      11434 | 3.68568e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 108 | Nordrhein-Westfalen    | 2.0    | ALL             |      46515 | 1.58086e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 109 | Nordrhein-Westfalen    | ALL    | ALL             |     117535 | 3.98547e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 110 | Rheinland-Pfalz        | 1.0    | Audio           |      17851 | 4.24507e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 111 | Rheinland-Pfalz        | 1.0    | Gartengeräte    |      17828 | 3.51099e+06 |
+-----+------------------------+--------+-----------------+------------+-------------+
| 112 | Rheinland-Pfalz        | 1.0    | Haushaltsgeräte |      17748 | 1.05857e+07 |
+-----+------------------------+--------+-----------------+------------+-------------+